@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  *,
  *::after,
  *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  * {
    font-size: initial;
  }
  html {
    height: 100%;
    min-height: 100%;
    scroll-behavior: smooth;
  }

  a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    display: block;
  }
  ul {
    list-style: none;
  }
  button {
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
  }
  img {
    display: block;
    width: 100%;
  }
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }
  body {
    height: 100%;
    min-height: 100%;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: "Nunito Sans", sans-serif;
    @apply dark:bg-d-Background dark:text-d-Text text-l-Text bg-l-Background;
  }
  #root {
    height: 100%;
  }
  input,
  select {
    border: none;
    outline: none;
  }
}

@theme {
  /* --breakpoint-desktop: 375px; */
  --color-d-Elements: hsl(209, 23%, 22%);
  --color-d-Background: hsl(207, 26%, 17%);
  --color-d-Text: hsl(0, 100%, 100%);
  --color-l-Text: hsl(200, 15%, 8%);
  --color-l-Input: hsl(0, 0%, 50%);
  --color-l-Background: hsl(0, 0%, 99%);
  --color-l-Elements: hsl(0, 100%, 100%);

  --font-Nuni: "Nunito Sans";
}

@layer utilities {
  .container {
    @apply container mx-auto p-4;
  }

  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .flex-center-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .flex-between-col {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .flex-start-col {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .flex-between-start {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .grid-dynamic-120 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(120px, 100%), 1fr));
  }
  .grid-dynamic-150 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(150px, 100%), 1fr));
  }
  .grid-dynamic-200 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));
  }
  .grid-dynamic-250 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
  }
  .grid-dynamic-300 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
  }
  .grid-dynamic-330 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(330px, 100%), 1fr));
  }
  .grid-dynamic-350 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(350px, 100%), 1fr));
  }
  .grid-dynamic-400 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
  }
  .grid-dynamic-500 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(500px, 100%), 1fr));
  }
  .grid-dynamic-550 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(550px, 100%), 1fr));
  }
  .grid-dynamic-600 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(600px, 100%), 1fr));
  }
  .grid-dynamic-650 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(650px, 100%), 1fr));
  }
}

@layer components {
}
